
/* active links */
a{
	color: white;
}

/*headers to pages */
#header{
	margin-top:1em;
	margin-bottom: 1em;
	font-family: 'Tomorrow', sans-serif;
	color: white;
	text-shadow: 2px 2px #db0e13;
}

/*text boxes */
#textbox{
	font-family: 'Tomorrow', sans-serif;
	background-color: #888888;
	border-style: solid;
	border-color: #db0e13;
	color: white;
}

#coverage{
	margin-top: 2em;
	margin-bottom: 1em;
	color: white;
	text-shadow: 2px 2px #db0e13;
}

/*link to page with overview of robots */
#overviewlink{
	margin-bottom: 4em;
	color: white;

}

/* text box titles */
#box-titles{
	margin-top:1em;
	font-family: 'Tomorrow', sans-serif;
	color: white;
	text-shadow: 2px 2px #db0e13;
}

/* form links */
label{
	color: black;
}

/* Nav bar */
.menu {
    font-family: 'Tomorrow', sans-serif;
    font-size: 17px;
}

.menu li:hover{
  background: #B30005
}


.nav li {
  display:inline-block;
}
/* end of nav bar */

/* background image to page */
body {
  
  background-image: url('images/grape-vine-ConvertImage.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  color: #f1f1f1;
  /*width: 100%;
  height: 100%;*/
}
