#header{
	margin-top:1em;
	margin-bottom: 1em;
}


#textbox{
	border-bottom: 1px black;
}

#coverage{
	margin-top: 2em;
	margin-bottom: 1em;
}

#overviewlink{
	margin-bottom: 4em;

}

#box-titles{
	margin-top:1em;
}
