/* Kenney's CSS */
{box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #B30005;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #6c757d;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* Caption text */
.text {
  color: #6c757d;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: 'Tomorrow', sans-serif;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #6c757d;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-family: 'Tomorrow', sans-serif;
}




/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #B30005;
}

h1 {

text-align: center;
font-family: 'Tomorrow', sans-serif;
font-weight: bold;
color: #6c757d;

}

h4 {

text-align: center;
font-weight: bolder;

}

.pics img {
    width: 200px;
    height: 200px;
    margin: auto;    
    display: block;
}

.pics .link {


width: 25px;
height: 25px;

}

.texts p {

margin-left: 20px;
 
}

.texts {

font-family: 'Tomorrow', sans-serif;

  
}

.nav li {
  display:inline-block;
}

/* Kenny's Body */
/*This code is for background image */
body {
  
  background-image: url('images/grape-vine-ConvertImage.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  color: #f1f1f1;
}

.menu {
    font-family: 'Tomorrow', sans-serif;
    font-size: 17px;
}

.menu li:hover{
  background: #B30005
}

.MEET {
    color: white;
    font-size: 100px;
}

.AUTO {
    color: white;
    font-size: 40px;
}

.img-overlay {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.img-overlay:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 27%;
}

.nav li {
  display:inline-block;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 15px;
}

.robotimg {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

#videos {
	position:relative;
	margin: auto;
	width:1024px;
	left:0;
	right:0;
	top:25px;
	overflow: Hidden;
}
